#Porzana
PorzanaTemplateFactory: Crex\Porzana\Template\TemplateFactory

#Database
DatabaseTableFactory: Crex\Database\Table\TableFactory
DatabaseRowFactory: Crex\Database\Table\Row\RowFactory
DatabaseColumnFactory: Crex\Database\Table\Column\ColumnFactory
DatabaseValueFactory: Crex\Database\Table\Row\Value\ValueFactory

#Form
FormFactory: Crex\Web\Form\FormFactory
FormFieldsetFactory: Crex\Web\Form\Fieldset\FieldsetFactory
FormTextFactory: Crex\Web\Form\Input\Text\TextFactory
FormPasswordFactory: Crex\Web\Form\Input\Password\PasswordFactory
FormCheckboxFactory: Crex\Web\Form\Input\Checkbox\CheckboxFactory
FormRadioFactory: Crex\Web\Form\Input\Radio\RadioFactory
FormHiddenFactory: Crex\Web\Form\Input\Hidden\HiddenFactory
FormSelectFactory: Crex\Web\Form\Input\Select\SelectFactory