#Porzana
PorzanaTemplateFactory: Crex\Porzana\Template\TemplateFactory

#Database
DatabaseTableFactory: Crex\Database\Table\TableFactory
DatabaseRowFactory: Crex\Database\Table\Row\RowFactory
DatabaseColumnFactory: Crex\Database\Table\Column\ColumnFactory
DatabaseValueFactory: Crex\Database\Table\Row\Value\ValueFactory

#Web
WebItemFactory: Crex\Web\ItemFactory

#Form
FormFactory: Crex\Web\Form\FormFactory
FormFieldsetFactory: Crex\Web\Form\Fieldset\FieldsetFactory
FormInputFactory: Crex\Web\Form\Input\InputFactory
FormSelectFactory: Crex\Web\Form\Select\SelectFactory